/* Esconde o cabeçalho */
header {
    display: none;
}

/* Esconde o rodapé */
footer {
    display: none;
}

/* Esconde o menu principal */
MainMenu {
    display: none;
}

/* Esconde a barra lateral (se estiver visível) */
.sidebar .sidebar-content {
    display: none;
}
